<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
	  <meta charset="utf-8">
	  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300">
	  <title>luminos</title>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	  <script src="./../public/js/createIdea.js"></script>
	  <link href="./../public/css/sidebar.css" rel="stylesheet">
	  <link href="./../public/css/create.css" rel="stylesheet">
	  <link href="./../public/css/index.css" rel="stylesheet">
	</head>

	<body>
        <div class="sidebar">
            <div class="side-logo"></div>
            <div class="text">luminos</div>
            <div class="menu">
                <a href="./ideas">
                    <div class="menu-item">
                        Ideas
                        <div class="triangle"></div>
                    </div>
                </a>
                <a href="./projects">
                    <div class="menu-item">
                        Projects
                        <div class="triangle"></div>
                    </div>
                </a>
                 <a href="./create">
                    <div class="menu-item active">
                        Eureka!
                        <div class="triangle"></div>
                    </div>
                </a>
            </div>
        </div>


        <div class="content">
            <div class="input">
	      <div>
                <form name="input" action="./api/ideas" method="Post">
		  <p class="title"><b>Got an idea for a Hack?</b></font></p>
		  <input type="text" name="name" id="idea_name" placeholder="Idea name" maxlength="40" required>
		  <textarea class="ta_desc" rows="10" cols="30" name="description" placeholder="Description" maxlength="500" required></textarea>
		  <input type="text" name="tags" placeholder="Tags, ex: photo-sharing, travel, cars, geolocation" maxlength="30">
		  <input type="submit" class="button" value="Post It" formaction="./">
		</form>
	      </div>
		
<!--	      <div>
		<form action="" id="usrform">
		  <input type="text" name="usrname" placeholder="Idea name">
		  <input type="submit" value="Post Idea!">
		</form>
		<textarea placeholder="Describe yourself here..." rows="10" cols="30" name="description" form="usrform" required>
		</textarea>
              </div>-->
                
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                    //loadIdea();               
                $(".button").click(function() {
                    createIdea();
                    console.log("Idea Created from html");
                })
             });
         </script>

	</body>
</html>
