<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300">
        <title>luminos</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="./../public/css/sidebar.css" rel="stylesheet">
        <link href="./../public/css/index.css" rel="stylesheet">

    </head>

    <body>
        <div class="sidebar">
            <div class="menu">
                <a href="./ideas.html">
                    <div class="menu-item">
                        Ideas
                        <div class="triangle"></div>
                    </div>
                </a>
                <a href="./projects.html">
                    <div class="menu-item active">
                        Projects
                        <div class="triangle"></div>
                    </div>
                </a>
            </div>
        </div>


        <div class="content">
             <div class="logo">
                <img src="../public/img/logo_lightred.png"></img>
                luminos
            </div>
            <div class="ideas">
                ERROR
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                
             });
         </script>

    </body>
</html>
