<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300">
		<title>luminos</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="./../public/js/getIdea.js"></script>
        <link href="./../public/css/sidebar.css" rel="stylesheet">

	</head>

	<body>
        <div class="sidebar">
            <div class="menu">
                <a href="">
                    <div class="menu-item">
                        Ideas
                        <div class="triangle"></div>
                    </div>
                </a>
                <a href="">
                    <div class="menu-item">
                        Projects
                        <div class="triangle"></div>
                    </div>
                </a>
            </div>
        </div>

        
        



        <script type="text/javascript">
            $(function() {               
                $(".menu a").click(function() {
                    event.preventDefault();
                    console.log("w");
                    $('.menu-item').removeClass('active');
                    $(this).children().first().addClass('active');
                })
             });
         </script>

    </body>
</html>