<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100,300">
		<title>luminos</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="./../public/js/getIndividualIdea.js"></script>
        <link href="./../public/css/sidebar.css" rel="stylesheet">
        <link href="./../public/css/fullproject.css" rel="stylesheet">

	</head>

	<body>
        <div class="sidebar">
            <div class="side-logo"></div>
            <div class="text">luminos</div>

            <div class="menu">
                <a href="../ideas">
                    <div class="menu-item">
                        Ideas
                        <div class="triangle"></div>
                    </div>
                </a>
                <a href="../projects">
                    <div class="menu-item">
                        Projects
                        <div class="triangle"></div>
                    </div>
                </a>
                 <a href="../create">
                    <div class="menu-item">
                        Eureka!
                        <div class="triangle"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="content">

            <div class="project">
                <div class="title">
                   Solutions, bro
                   <div class="like">
                    <img src="../public/img/icon_like_red.png"> 20
                   </div>
                </div>
                <div class="desc">
                    <span>Status:</span> COMPLETED<br>
                    <span>Inspired by:</span> <a href="/">ideaname</a><br>
                    <span>URL:</span> <a href="/">url</a><br>
                    <span>Platform:</span> android<br>
                    <span>Category:</span> social media <br><br>
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                
                <div class="actions">
                    <img src="../public/img/icon_comment.png"> 0
                </div>   
                <div class="idea">
                    <!--<div class="title">inspired by:</div>-->
                    
                </div>
               
            </div>

            <div class="team">
                <div class="header"> 
                    <img src="../public/img/icon_user_red.png"> 
                    Team (2/3):
                </div>

                <a href="linktoprofile">
                    <div class="profile">
                        <div class="pic" style="background:url('http://www.pak101.com/funnypictures/Animals/2012/8/2/the_monopoly_cat_vbgkd_Pak101(dot)com.jpg') center center no-repeat;background-size:cover;"></div>
                        <div class="uname">
                            username<br>
                            Role: Front end
                        </div>
                    </div>
                </a>
                <a href="linktoprofile">
                    <div class="profile">
                        <div class="pic" style="background:url('http://www.pak101.com/funnypictures/Animals/2012/8/2/the_monopoly_cat_vbgkd_Pak101(dot)com.jpg') center center no-repeat;background-size:cover;"></div>
                        <div class="uname">
                            username<br>
                            Role: Front end
                        </div>
                    </div>
                </a>
                <a href="linktoprofile">
                    <div class="profile">
                        <div class="pic" style="background:url('http://www.pak101.com/funnypictures/Animals/2012/8/2/the_monopoly_cat_vbgkd_Pak101(dot)com.jpg') center center no-repeat;background-size:cover;"></div>
                        <div class="uname">
                            username<br>
                            Role: Front end
                        </div>
                    </div>
                </a>

               <div class="button">Join Team</div>
            </div>

        </div>
        



        <script type="text/javascript">
             $(function() {
                loadProject();                
            });         

        </script>

    </body>
</html>