
.logo {
    width:100%;
    height:50px;
    line-height:50px;
    font-size:40px;
    font-weight: 300;
    text-align:center;
    margin: 20px auto;
    color:rgba(255,255,255,0.7);
}
.logo img {
    opacity:0.9;
    -moz-opacity:0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -khtml-opacity:0.9;
    height:30px;
    position:relative;
}

@media only screen and (min-width: 800px) {
    .logo {
        height:120px;
        line-height:120px;
        font-size:70px;
    }
    .logo img {
        height:60px;
    }

}



.ideas {
    width:90%;
    padding:5px 5%;
    height:auto;
}
.idea-container {
    width:80%;
    float:left;
    margin-left:10%;
    margin-top:40px;
}
.idea-container .title {
    padding:10px 5%;
    width:90%;
}

.idea-container .title .user {
    padding:5px 0;
    font-size:11px;
    line-height:11px;
    display:block;
       opacity:0.9;
    -moz-opacity:0.9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -khtml-opacity:0.9;
}
.idea-container .title .user img {
    height:8px;
    width:8px;
    margin-right:3px;
}
.idea-container .desc {
    width:80%;
    height:150px;
    padding:15px 10%;
}
.idea-container .desc .text {
    height:115px;
    overflow:hidden;
}
.idea-container:nth-child(3n) .title {
        background-color:rgba(58,155,162,0.8);
}
.idea-container:nth-child(3n) .desc {
        background-color:rgba(58,155,162,0.2);
}
.idea-container:nth-child(3n) .readmore {
        background-color:rgba(58,155,162,0.6);
}
.idea-container:nth-child(3n-1) .title {
        background-color:rgba(144,144,180, 0.8);
}
.idea-container:nth-child(3n-1) .desc {
        background-color:rgba(144,144,180,0.2);
}
.idea-container:nth-child(3n-1) .readmore {
        background-color:rgba(144,144,180,0.6);
}
.idea-container:nth-child(3n-2) .title {
        background-color:rgba(65,147,195,0.8);
}
.idea-container:nth-child(3n-2) .desc {
        background-color:rgba(65,147,195,0.2);
}
.idea-container:nth-child(3n-2) .readmore {
        background-color:rgba(65,147,195,0.6);
}
.idea-container:nth-child(3n) .readmore:hover, .idea-container:nth-child(3n-1) .readmore:hover, .idea-container:nth-child(3n-2) .readmore:hover  {
    background-color:#fff;
    color:#333;
}
.idea-container .readmore {
    display:inline-block;
    width:70px;
    text-align:center;
    font-size:11px;
    padding:5px 0px;
    margin-top:10px;
}
.idea-container .actions {
    display:inline-block;
    opacity:0.7;
    -moz-opacity:0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -khtml-opacity:0.7;
    width:auto;
    text-align:center;
    margin-left:20px;
    font-size:11px;
    line-height:13px;
}
.idea-container .actions img {
    height:10px;
    margin-left:6px;
    vertical-align:center;
}

@media only screen and (min-width: 800px) {
    .idea-container {
        width:45%;
        float:left;
        margin-right:2.5%;
        margin-left:2.5%;
    }
}

